// color palette - these colors will be the color swatches of the Colors section

$color-1: #47885E; // middle green
$color-2: #2B2B2B; // jet
$color-3: #F4B3C2; // cherry blossom pink
$color-4: #FBFBEC; // ivory 
$color-5: #ffffff; // white

// additional colors

$success: #6fce72; // green
$alert: #ff0000 // red
