@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display&display=swap');

$primary-font: 'Italianno', cursive;
$secondary-font: 'Playfair Display', serif;

.cd-typography-header{
    font-family: $primary-font;
}
.cd-typography-contets{
    font-family: $secondary-font;
}
